/* My CSS File for the Final Project*/


.top-bar{
/*Dark Bar Color and position*/
    position: absolute;
    left: 0%;
    right: 0%;
    height: 75px;

    background: #343A40;
    border-radius: 4px;
}
.top-bar-uncc{
    /*Font color and Styling*/
    position: absolute;
    left: 0%;
    right: 0%;
    height: 75px;
    color: rgb(255, 255, 255);
    font-family: Iceberg;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    padding-left: 20px;
}



.top-bar-buttons{
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans Condensed';
    font-style: relative;
    font-weight: 400;
    font-size: 22px;
    line-height: 16px;
    text-decoration: none;

    position: relative;
    left: 250px;
    padding-left: 20px;
    top: 28px;
    background: none;
    border: none;
}
.top-bar-search{
    color: rgb(255, 255, 255);
    /*font-family: 'IBM Plex Sans Condensed';*/
    font-style: relative;
    position: absolute;
    padding-right: 200px;
    top: 15px;
    right: 300px;
    background-color: red;
}
.top-bar-links{
    text-decoration: none;
    color: white;
}



/*-----------------------------LIGHT MODE-----------------------------*/
.top-bar-light{
    /*Dark Bar Color and position*/
        position: absolute;
        left: 0%;
        right: 0%;
        height: 75px;
    
        background: #d3d7db;
        border-radius: 4px;
    }
    .top-bar-uncc-light{
        /*Font color and Styling*/
        position: absolute;
        left: 0%;
        right: 0%;
        height: 75px;
        color: rgb(0, 0, 0);
        font-family: Iceberg;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        padding-left: 20px;
    }
    
    
    
    .top-bar-buttons-light{
        color: rgb(0, 0, 0);
        font-family: 'IBM Plex Sans Condensed';
        font-style: relative;
        font-weight: 400;
        font-size: 22px;
        line-height: 16px;
        text-decoration: none;
    
        position: relative;
        left: 250px;
        padding-left: 20px;
        top: 28px;
        background: none;
        border: none;
    }
    .top-bar-search-light{
        color: rgb(0, 0, 0);
        /*font-family: 'IBM Plex Sans Condensed';*/
        font-style: relative;
        position: absolute;
        padding-right: 200px;
        top: 15px;
        right: 300px;
        background-color: red;
    }
    .top-bar-links-light{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

