{% extends 'top_bar_logout_dark.html' %}

    {% block body %}

<!DOCTYPE html>
<html>
<head>

<!--|||||THIS IS THE TASK BAR COMPLETED ABOVE EVERYTHING BELOW IS PART OF EACH PAGE|||||-->



    <div class="container-fluid">
        <table class="table table-bordered"style="position: absolute; top: 75px; bottom: 0; left: 0; right: 0; border: 3px;" >
            <thead style="height: 50px;">
              <tr >
                <th style="width: 180px;">Filter</th>
                <th>Recent Posts</th>
                <th style="width: 275px;">Your Forums</th>
              </tr>
            </thead>
            <tbody>
                  <tbody>
                      <tr style="height: 614px;">
                        <td>test</td>
                        <td>
                          <form action="/discussion" method="post">
                            {% for post in posts_list %}
                          <div class="card" style="width: 65rem;">
                            <div class="card-body">
                              <h5 class="card-title"><button type="submit", name= "creating_post", value= '{{ post.discuss_ID }}'>{{ post.title }}</button></h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{post.parent_forum_name}} - {{ post.creator_username }}</h6>
                              <p class="card-text">{{ post.content }}</p>
                            </div>
                          </div>
                          {% endfor %}</form></td>
                        <td>
                          <form action="/forum" method="post">
                            {% for forum in forum_list %}
                              <button type="submit", name= "for_ID", value= '{{ forum.forum_id }}', class = "forum-button">{{ forum.forum_name }}</button><br>
                            {% endfor %}
                          </form>
                        </td>
                      </tr>
                    </tbody>
            </tbody>
          </table>
        </div>

        {% endblock %}