
{% extends 'top_bar_logout_dark.html' %}

    {% block body %}

<!DOCTYPE html>
<html>
<head>

<!--|||||||||||||||||||||||||||This is the Taskbar COMPLETED BELOW|||||||||||||||||||||||||||-->
<!-- <h1 class = "top-bar">UNCC <br>Student Forum</h1> -->

  

<!--|||||||||||||||||||||||||||THIS IS THE TASK BAR COMPLETED ABOVE EVERYTHING BELOW IS PART OF EACH PAGE|||||||||||||||||||||||||||-->


      
<!-- This right here would send an email to the company with a contact us form filled out-->
<div style="height: 85px;"></div>
        <center>        
            <form>
                <label><b>Please enter your name</b></label>
            
                <input type="text">
                <input type="submit">
            </form>
            <label><br>What could be the reason for you to contact us?</label>
            <form>
                <input type="radio">Need help with product?<br>
                <input type="radio">Need help starting a learning community?<br>
                <input type="radio">Reporting a bug<br>
                <input type="radio">Report abusive Content/User<br>
                <input type="submit">
                
            </form>
        </center>

        
    </head>
</html>
{% endblock %}