<div>
  {% extends 'top_bar_logout_dark.html' %}
  </div>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css') }}"> 
  <!--|||||THIS IS THE TASK BAR COMPLETED ABOVE EVERYTHING BELOW IS PART OF EACH PAGE|||||-->
  {% block body %}
  <html>
      
      <div style="height: 100px;"></div>
      <div class="create-post-container">
          <form method="POST" action="/discussion">
            <div class="form-group">
              <center>
                  <h1>Create a Forum Post</h1>
                  </center>
              <input type="text" class="form-control form-control-lg" name="title" placeholder="Title">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="content" rows="10" placeholder="Text"></textarea>
            </div>
            <div class="form-group">
              <div id="profile-pic">
                      <label for="Add Image">Add Image (optional):</label>
                      <input type="file" id="myFile" name="filename">
                      <label for = "Tags">Tags:</label><input type="text" class="forum-input" name="tags">
                      <label for = "Majors">Majors:</label><input type="text" class="forum-input" name="majors">
                      <label for = "Classes">Classes:</label><input type="classes" class="forum-input" name="classes">
                      <label for = "Companies">Companies:</label><input type="text" class="forum-input" name="companies">
            </div>
            <button type="submit" name= "creating_post", value= "True", class="btn btn-primary">Create Post</button>
          </form>
        </div>
      <!DOCTYPE html>
  </html>

  {% endblock %}

