<div>
    {% extends 'top_bar_logout_dark.html' %}
    </div>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style.css') }}"> 
    <!--|||||||||||||||||||||||||||THIS IS THE TASK BAR COMPLETED ABOVE EVERYTHING BELOW IS PART OF EACH PAGE|||||||||||||||||||||||||||-->
    {% block body %}
    <html>
        <div style="height: 100px;"></div>
            <div class="container-f">
                <div class="forum-title">
                    <center>
                    <h1>Create a Forum Post</h1>
                    </center>
                    <hr class="forum-line"></hr>
                </div>
                <div class="forum-create">
                    <label for="Forum">Forum:</label><input type="Forum" class="forum-input" placeholder="Forum Name">
                    <div id="profile-pic">    
                        <label for="Add Image">Add Image (optional):</label>
                        <input type="file" id="myFile" name="filename">
                    </div>
                    <label for="Title">Title:</label><input type="Title" class="forum-input" placeholder="Title">
                    <label for ="Content">Content:</label><textarea rows = "20" cols="30" class="forum-input"> Enter your message here</textarea>
                    <label for = "Tags">Tags:</label><input type="tags" class="forum-input">
                    <label for = "Majors">Majors:</label><input type="Majors" class="forum-input">                        <label for = "Classes">Classes:</label><input type="classes" class="forum-input">
                    <label for = "Companies">Companies:</label><input type="Companies" class="forum-input">
                    <center>
                    <button type="button" class="sign-btn">Submit</button>
                    </center>

                </div>
            </div>
        <!DOCTYPE html>
    </html>

    {% endblock %}