<div style = "top: 0px;">
{% extends 'top_bar_logout_dark.html' %}
</div>
{% block body %}
<div style = "height: 100px;"></div>
<html>
    
    
    <!-- This is the navbar at the top of the page-->
    <!-- <h1 class = "top-bar">UNCC <br>Student Forum</h1> -->
<!DOCTYPE html>
<div class="container-fluid">    
    <title>Sign Up Form</title>
        <body>
            <div class="log-in-form">
                <h1>Log In</h1>
                <form action="/account" method="post">
                    <label for="Username" class="Username.txt">Username:</label><input type="text" class="input-box" name="username" placeholder="Username">
                    <label for="Password">Password:</label><input type="text" class="input-box" name="password" placeholder="Password">
                    <p>Forgot your password? <a href="#">Click Here</a></p>
                    <button type="submit", name= "if_exists", value= "False", class="sign-btn">Sign in</button>
                </form>
            </div>
        </body>
    </div>
</html>
{% endblock %}