<div style = "top: 0px;">
    {% extends 'top_bar_logout_dark.html' %}
    </div>
    {% block body %}
    <div style = "height: 100px;"></div>
    <html>
        
<title>Sign Up Form</title>
    <body>
        <div class="sign-up-form">
            <!--This is the associated error that will occur if the username already exists-->
            <h1 class="error-message">{{error}}</h1>


            <h1> Sign Up</h1>
            <form action="/account" autocomplete="off" method="post">
            <label for="Username" class="Username.txt">Username:</label><input type="text" name="username" class="input-box" placeholder="Username">
            <label for="Password">Password:</label><input type="text" class="input-box" placeholder="Password" name="password">
            <label for="Email">Email:</label><input type="text" class="input-box" placeholder="Email" name="email">
            <label for="Age">Age:</label><input type="number" class="input-box" placeholder="Age" name="age">
            <label for="Website">Website:</label><input type="text" class="input-box" placeholder="Website" name="website">
            <label for="Gender">Gender:</label>
            <input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female
            <input type="radio" name="gender" value="other">Other
            <br></br>
            <label for="Major">Major:</label><input type="text" class="input-box" placeholder="Major" name="major">
            <label for="Concentration">Concentration:</label><input type="text" class="input-box" placeholder="Concentration" name="concentration">
            <p><span><input type="checkbox"></span>I agree to the terms of services</p>

            <!-- When you click the submit button on the signup form it returns the name account_action and the value associated which is True-->
            <center>
                <button type="submit", name= "account_action", value= "signup", class="sign-btn">Sign up</button>
            </center>

            <!-- Redirect to login page-->
            <p>Do you have an account? <a href="/login">Sign in</a></p>
            </form>
        </div>
    </body>
</html>
{% endblock %}