<div style = "top: 0px;">
    {% extends 'top_bar_logout_dark.html' %}
    </div>
    {% block body %}
    <div style = "height: 100px;"></div>

<html>
    <!--<img src="{{url_for('static', filename='Images/sucks-to-suck-cod-sucks-to-suck.gif')}}" style="margin-left: 10px;" -->
    <div>
        <center>
            <img src="{{url_for('static', filename='Images/sucks-to-suck-cod-sucks-to-suck.gif')}}"/></a>
        </center>
        <!--<button class = "top-bar-buttons"> <a href="/login"><img src="{{url_for('static', filename='sucks-to-suck-cod-sucks-to-suck.gif')}}"/></a></button> -->
    </div>

</html>
{% endblock %}